[Unit]
Description=Start Dac Script
After=multi-user.target
 
[Service]
Type=simple
ExecStart=bash /root/led
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
