[Unit]
Description=Remote service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=bash /root/ip
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
