{% extends 'layout.html' %}

{% block body %}

  <div id="indexContent">
     <p align="center"><a href="/"><img src="/static/gdis.png"></a></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>Do You Realy Want To Update The System ?</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <p align="center"><label>&nbsp;</label></p>
     <a href="{{ url_for('update') }}"><button class="button" style="height:50px;width:50px">Yes</button></a>
     <a href="{{ url_for('no') }}"><button class="button" style="height:50px;width:50px">No</button></a>
  </div>

{% endblock %}
